<strong>Olá, {{ student }}</strong>
<p>Obrigado por se cadastrar no Gympoint, confira seus dados:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <br />
  <strong>Mensalidade: </strong> {{ price }} <br />
  <strong>Valor total: </strong> {{ price_total }} <br />
  <br />
  <small>
    Caso queira trocar o plano, por favor entrar em contato na recepção da academia.
  </small>
</p>
